{% extends 'baseadmin.html' %}
{% block title %}
    <title>show nursingstaff</title>
{% endblock %}
{% block content %}
    <div class="container" style="width: 100%;">
        <table class="table table-hover">
            <tr>
                <th>NursingStaff ID</th>
                <th>NursingStaff NAME</th>
                <th>NursingStaff GENDER</th>
                <th>NursingStaff ADDRESS</th>
                <th>NursingStaff AGE</th>
                <th>NursingStaff QUALIFICATION</th>
                <th>NursingStaff AADHAR NUMBER</th>                              
                <th>UPDATE</th>
                <th>DELETE</th>
            </tr>
        {% for nurse in nursing %}
            <tr>
                <td>{{nurse.id}}</td>
                <td>{{nurse.name}}</td>
                <td>{{nurse.gender}}</td>
                <td>{{nurse.address}}</td>
                <td>{{nurse.age}}</td>
                <td>{{nurse.qualification}}</td>
                <td>{{nurse.adhaar_number}}</td> 
                <td><a href="{% url 'updatenursingstaff' nurse.id %}"><button class="btn btn-warning">Update</button></a></td>                              
                <td><a href="{% url 'deletenursingstaff' nurse.id %}"><button class="btn btn-danger">Delete</button></a></td>               
           </tr>
        {% endfor %}
        </table>
    </div>   
{% endblock %}

