{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    <title>login page</title>
{% endblock %}

{% block content %}
    <div class="container" style="width: 40%;">
        <form method="post" class="jumbotron">
            {% csrf_token %}
            <label for="uname">Enter Username:</label>
            <input type="text" name="uname" id="uname" class="form-control">
            <br>
            <label for="pw">Enter Password:</label>
            <input type="password" name="pw" id="pw" class="form-control">
            {% for msg in messages %}
                <p style="color: red;">{{msg}}</p>
            {% endfor %}
            <br>
            <input type="submit" class="btn btn-primary" value='Login'>
            <hr>
            <p><a href="{% url 'password_reset' %}">Forgotten your password?</a></p>
        </form>
    </div>
{% endblock %}