body
{
    background-color: darkseagreen;
    background-image: url("/healthify/image/hospital.jpg");
    
}
.home .content h1
{
    font-size: 4rem;
    color: var(--black);
}
.home .content h1 span
{
    color: var(--green);
}
.home .content h3
{
    font-size: 3rem;
    color: var(--black);
}
.service .content h4
{
    font-size: 2.5rem;
    color: var(--black);
    text-align: center;
}

.about .content .box 
{
    margin: 3rem 0;
}

.about .content .box h3
{
    font-size: 2rem;
    color:var(--black);
}

.about .content .box h3 i
{
    padding: 0 1rem;
    color:var(--green);
}

.about .content .box p
{
    font-size: 1rem;
    padding-left: 4.5rem;
    color: #666;
}

#success_message{ display: none;}

.icons-container{
    display: grid;
    gap:2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.icons-container .icons{
    border:var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    text-align: center;
    padding: 2.5rem;
}

.icons-container .icons i{
    font-size: 4.5rem;
    color:var(--green);
    padding-bottom: .7rem;
}

.icons-container .icons h3{
    font-size: 4rem;
    color:var(--black);
    padding: .5rem 0;
    text-shadow: var(--text-shadow);
}

.icons-container .icons p{
    font-size: 1.7rem;
    color:var(--light-color);
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}