{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Reset your password</title>
{% endblock %}

{% block content %}
    <div class="container" style="width: 40%;">       
        <form method="post" class="jumbotron">
            <h4>Forgotten your password?</h4>
            <p>Enter your e-mail address to obtain a new password.</p>
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" value="submit" class="btn btn-success">
        </form>
    </div>
{% endblock %}